# fill in these:
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
WEBUI_URL=https://chat.example.com
WEBUI_SECRET_KEY=
PROXY_URL=proxy.chat.example.com


OPENID_PROVIDER_URL=https://auth.hackclub.com/.well-known/openid-configuration
OAUTH_PROVIDER_NAME=Hack Club Auth
ENABLE_OAUTH_SIGNUP=true
ENABLE_EMAIL_SIGNUP=false
WEBUI_SESSION_COOKIE_SECURE=true
FORWARDED_ALLOW_IPS=*
OAUTH_MERGE_ACCOUNTS_BY_EMAIL=true
ENABLE_LOGIN_FORM=false
ENV=prod

## open webui default config
DEFAULT_USER_ROLE=user
WEBHOOK_URL=http://10.99.0.10:1826/webhook
ENABLE_USER_WEBHOOKS=true
DOCKER=true
EXTERNAL_PWA_MANIFEST_URL=https://proxy.chat.example.com/backend/manifest.json
#DEFAULT_PROMPT_SUGGESTIONS=[{"title": ["How to center a div", "using only html and css"], "content": "Give me code to center a div using only html and css. Make sure to be beginner friendly and explain the code."}]
ENABLE_OLLAMA_API=false
ENABLE_OPENAI_API=false
ENABLE_CODE_EXECUTION=false
ENABLE_CODE_INTERPRETER=false
ENABLE_DIRECT_CONNECTIONS=true
ENABLE_AUTOCOMPLETE_GENERATION=false
ENABLE_RAG_LOCAL_WEB_FETCH=true