OPENID_PROVIDER_URL=https://auth.hackclub.com/.well-known/openid-configuration
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_PROVIDER_NAME=Hack Club Auth
WEBUI_URL=https://chat.example.com
ENABLE_OAUTH_SIGNUP=true
ENABLE_EMAIL_SIGNUP=false
WEBUI_SESSION_COOKIE_SECURE=true
FORWARDED_ALLOW_IPS=*
OAUTH_MERGE_ACCOUNTS_BY_EMAIL=true
ENABLE_LOGIN_FORM=false
WEBUI_SECRET_KEY=
ENV=prod